<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.idla">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDefault"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".Lesson11.Lesson11Activity"></activity>
        <activity android:name=".Lesson06_10.Lesson10Activity" />
        <activity android:name=".Lesson06_10.Lesson09Activity" />
        <activity android:name=".Lesson06_10.Lesson08Activity" />
        <activity android:name=".Lesson06_10.Lesson07Activity" />
        <activity android:name=".Lesson06_10.Lesson06Activity" />
        <activity android:name=".Lesson05.Lesson05Activity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Lesson05.ConstraintLayoutActivity" />
        <activity android:name=".Lesson04.AbsoluteLayoutActivity" />
        <activity android:name=".Lesson04.TableLayoutActivity" />
        <activity android:name=".Lesson04.RelativeLayoutActivity" />
        <activity android:name=".Lesson04.FrameLayoutActivity" /> <!-- Lesson03 -->
        <activity android:name=".Lesson03.LaunchActivity" />
        <activity
            android:name=".Lesson03.SingleInstanceLaunchActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Lesson03.SingleTaskLaunchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Lesson03.SingleTopLaunchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".Lesson03.StandardLaunchActivity"
            android:launchMode="standard" />
        <activity android:name=".Lesson03.Lesson03Activity" />
        <activity android:name=".Lesson04.Lesson04Activity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 只要加新的Activity, sync後, 這邊就一定會插個空行, 金變態 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>